*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    backface-visibility: hidden;
}

body{
    background: rgb(0, 0, 0);
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

.btn-menu{
    font-size: 35px;
    display: none;
    cursor: pointer;
    float: right;
    margin-top: 32px;
    margin-right: 100px;
}

#btn{
    display: none;
}

.fa-info-circle,
.fa-images,
.fa-shopping-cart{
    display: none;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}

/*###########Header###########*/
header{
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    height: 980px;
}

header .bar{
    background: #fff;
    position: fixed;
    top: 0;
    transition: all 300ms;

}

header .bar:hover{
    background: #fff url(../img/freeze.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0%;
}

header .bar #ps{
    display: block;
    float: left;
    margin: 10px;
    margin-left: 100px;
    transition: all 300ms;
}

header .bar #ps:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.bar{
    width: 100%;
    height: auto;
    margin: 0px auto;
}

header .menu{
    margin-top: 35px;
    margin-right: 100px;
    text-align: right;
}

header .menu a{
    margin: 0 20px;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1.5em;
    outline:none;
}

header .menu a:hover{
    border-bottom: 2px solid black;
}

header .logo img{
    display: block;
    margin: 0px auto;
    margin-top: 100px;
    padding-top: 400px;
}

/*###########Cuerpo###########*/
/*###########About###########*/
.about{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.about .container .title{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.about .container .text{
    font-size: 20px;
    text-align: justify;
    color: #fff;
}

.about .container .photo{
    margin: 30px;
    transition: all 500ms;
}

.about .container .photo:hover{
    transform: scale(1.03);
}

/*###########Imágenes###########*/
.images .container{
    margin-top: 100px;
    overflow: hidden;
}

.images .container .title{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-bottom: 200px;
}

.images .container #imgcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background: url(../img/wpp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.images .container #imgcontainer .singleimg{
    width: 45%;
    margin-bottom: 40px;
}

.images .container #imgcontainer .singleimg .thumb{
    width: 100%;
    margin-bottom: 10px;
}

.images .container #imgcontainer .singleimg .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
}

.images .container #imgcontainer .singleimg .description{
    font-size: 22px;
    color: transparent;
    text-align: center;
    margin-top: -15%;
}

.images .container #imgcontainer .singleimg:hover .description{
    color: white;
    background: black;
    opacity: 0.7;
}

.buy .container{
    margin-top: 100px;
    overflow: hidden;   
}

.buy .container .title{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.buy .container .description{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px solid #fff;
    border-radius: 10px;
}

.buy .container .description:hover{
    animation: blink 2s;
    cursor: pointer;
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.buy .container .photo img{
    display: block;
    margin: 0px auto;
    padding-top: 50px;
}

.buy .container .price{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-bottom: 300px;
}

.buy .container .price:hover{
    cursor: pointer;
}

footer{
    padding: 60px 100px;
    background: #fff;
}

footer .social{
    padding: 10px 0;
}

footer .social .container{
    display: flex;
    justify-content: center;
}

footer .social a{
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    padding: 25px 0;
    border-radius: 3px;
    font-size: 30px;
    background: #003087;
    margin: 0 100px;
    border-radius: 10px;
    outline:none;
}

footer .social .facebook:hover{
    background: #3b5998;
}

footer .social .twitter:hover{
    background: #1da1f2;
}

footer .social .instagram:hover{
    background: #fd1d1d;
}

footer #design h4{
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    header{
        background-position: 50% 70%;
    }

    header .logo img{
        width: 400px;
    }

    footer .social a{
        margin: 0 50px;
    }
}

@media screen and (max-width: 900px){
    .about .container .photo img{
        width: 500px;
        display: block;
        margin: 0px auto;
    }

    footer #design h4{
        font-size: 30px;
    }
}

@media screen and (max-width: 860px){
    .fa-info-circle,
    .fa-images,
    .fa-shopping-cart{
        display: inline-block;
        margin-left: 50px;
        font-size: 30px;
    }
    .btn-menu{
        display: block;
    }

    header .menu{
        position: absolute;
        background: #555;
        top: 69px;
        left: 0;
        width: 100%;
        transform: translate(-100%);
        transition: all 300ms;
    }

    header .menu a{
        display: block;
        margin: 40px 100px 40px 0px;
        line-height: 40px;
    }

    #btn:checked ~ .menu{
        transform: translate(0%);
    }

    .about .container .photo:hover{
        transform: none;
    }

    .images .container #imgcontainer{
        background: black;
    }

    .images .container #imgcontainer .singleimg{
        width: 100%;
    }

    footer .social a{
        margin: 0 5px;
    }
}

@media screen and (max-width: 570px){
    .about .container .photo img{
        width: 250px;
    }

    .buy .container .photo img{
        width: 200px;
    }

    footer #design h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px){
    header .bar #ps{
        margin-left: 50px;
    }

    .btn-menu{
        margin-right: 50px;
    }
    
    header .logo img{
        width: 200px;
    }

    footer .social a{
        margin: 0 1px;
    }

    footer{
        padding: 30px 50px;
        background: #fff;
    }
}

@media screen and (max-width: 380px){
    .about .container .photo img{
        width: 200px;
    }

    .images .container #imgcontainer .singleimg .description{
        font-size: 22px;
        color: transparent;
        text-align: center;
        margin-top: -21%;
    }

    .buy .container .description,
    .buy .container .price{
        margin-left: 50px;
        margin-right: 50px;
    }
}